<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <h3 class="text-center"><%= __('Login') %></h3>
      <hr>

      <form class="form-horizontal" action="/auth/loginSystem" method="post" role="form">
        <div class="form-group">
          <label for="username" class="col-sm-2 control-label pull-right">:<%= __('Username') %></label>
          <div class="col-sm-10 pull-left">
            <input type="text" class="form-control select2-offscreen" id="username" placeholder="<%= __('Type Username') %>" name="username" tabindex="1">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label pull-right">:<%= __('Password') %></label>
          <div class="col-sm-10 pull-left">
            <input type="password" class="form-control select2-offscreen" id="password" placeholder="<%= __('Type Password') %>" name="password" tabindex="2">
          </div>
        </div>

        <div class="col-sm-11 col-sm-offset-1 pull-right">
          <div class="form-group pull-right">
            <button type="submit" class="btn btn-success"><%= __('Login') %></button>
          </div>
        </div>
      </form>



    </div>
  </div>
</div><!--/.col-->
