<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <h3 class="text-center"><%= __('Header') %></h3>
      <hr>

      <div class="pull-right">
        <p style="font-size: 20px;">
          مرحباً بك
        </p>
      </div>

    </div>
  </div>
</div><!--/.col-->
