<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Car Rental System' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>
    <div class="container">
      <div class="row inbox">
        <%- body %>

        <!-- Side Menu -->
        <% if (session.user) { %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body inbox-menu">
                <% if (session.admin) { %>
                  <a href="/car/addCar" class="btn btn-danger btn-block"><%= __('New Car') %></a>
                <% } %>
                <ul>
                  <li>
                    <a href="/notification/notifications"><i class="fa fa-bell"></i> <%= __('Notifications') %> <span class="label label-danger" id="notifi"><%= session.notifications %></span></a>
                  </li>
                  <% if (session.admin) { %>
                    <li>
                      <a href="/car/cars"><i class="fa fa-car"></i> <%= __('Cars') %></a>
                    </li>
                    <li>
                      <a href="/extras/extras"><i class="fa fa-bluetooth"></i> <%= __('Extra Options') %></a>
                    </li>
                    <li>
                      <a href="/manager/managers"><i class="fa fa-users"></i> <%= __('Managers') %></a>
                    </li>
                    <li>
                      <a href="/branch/branches"><i class="fa fa-sitemap"></i> <%= __('Branches') %></a>
                    </li>
                  <% } %>
                </ul>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body contacts">
                <a href="/logout" class="btn btn-success btn-block">خروج</a>
              </div>

            </div>

          </div><!--/.col-->
        <% } %>

      </div>
    </div>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/multiselect.min.js"></script>
    <script src="/js/bootstrap-notify.min.js"></script>
    <script src="/js/helper.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript">
      io.socket.get('/notification/subscribe-notifications')
      io.socket.on('notification', function(obj) {
        if (obj.verb === 'created'){
          io.socket.get('/notification/update-notifications', function(res, jwres){
            $('#noti').html(res.number)
          })
          $.notify({
            icon: '/images/noti.png',
            title: 'إشعار جديد',
          	message: "هناك إشعار جديد. برجاء الضغط على الرسالة للإنتقال للإشعارات",
          	url: "/notification/notifications"
          }, {
            type: 'warning',
            delay: 5000,
            icon_type: 'image'
          })
        }
      })
    </script>
  </body>
</html>
