<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <h3 class="text-center"><%= __('Edit Notifications') %></h3>
      <hr>

      <% if (data && car ) { %>
        <span>
          <form class="form-horizontal" action="/notification/edit-notification" method="post" role="form">

            <div class="form-group">
              <label for="client_name" class="col-sm-2 control-label pull-right">:<%= __('Client Name') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="client_name" name="client_name" value="<%= data.client_name ? data.client_name : __('Not Found') %>" disabled>
              </div>
            </div>

            <div class="form-group">
              <label for="phone_number" class="col-sm-2 control-label pull-right">:<%= __('Phone Number') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="phone_number" name="phone_number" value="<%= data.phone_number ? data.phone_number : __('Not Found') %>" disabled>
              </div>
            </div>

            <div class="form-group">
              <label for="id_number" class="col-sm-2 control-label pull-right">:<%= __('ID Number') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="id_number" name="id_number" value="<%= data.id_number ? data.id_number : __('Not Found') %>" disabled>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label pull-right">:<%= __('Email') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="email" name="email" value="<%= data.email ? data.email : __('Not Found') %>" disabled>
              </div>
            </div>

            <div class="form-group">
              <label for="address" class="col-sm-2 control-label pull-right">:<%= __('Address') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="address" name="address" value="<%= data.address ? data.address : __('Not Found') %>" disabled>
              </div>
            </div>

            <div class="form-group">
              <label for="car_name" class="col-sm-2 control-label pull-right">:<%= __('Car Name') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="car_name" name="car_name" value="<%= car.brand ? car.brand : __('Not Found') %>" disabled>
              </div>
            </div>

            <div class="form-group">
              <label for="status" class="col-sm-2 control-label pull-right">:<%= __('Status') %></label>
              <div class="col-sm-10 pull-left">
                <select class="form-control select2-offscreen" name="status">
                  <option value="<%= __('Deny') %>"><%= __('Deny') %></option>
                  <option value="<%= __('Accept') %>"><%= __('Accept') %></option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="status_detils" class="col-sm-2 control-label pull-right">:<%= __('Status Detils') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="status_detils" name="status_detils" value="<%= data.status_detils ? data.status_detils : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="manager_name" class="col-sm-2 control-label pull-right">:<%= __('Manager Name') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="manager_name" name="manager_name" value="<%= session.user %>">
              </div>
            </div>


            <input type="text" name="id" value="<%= data.id ? data.id : 'null' %>" hidden>
            <input type="text" name="manager_id" value="<%= data.manager_id ? data.manager_id : 'Not Found' %>" hidden>

            <div class="col-sm-11 col-sm-offset-1 pull-right">
              <div class="form-group pull-right">
                <button type="submit" class="btn btn-success"><%= __('Edit') %></button>
              </div>
            </div>
          </form>
        </span>
      <% } else { %>
        <span>
          <strong><%=message%></strong>
        </span>
      <% } %>


    </div>
  </div>
</div><!--/.col-->
