<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <div class="panel-heading">
        <h3 class="pull-right">
          <%= __('Notifications') %>
        </h3>
        <div class="clearfix"></div>
      </div>

      <hr>

      <% if (data) { %>
        <table class="table table-sm table-responsive">
          <thead>
            <tr>
              <th class="text-center"><%= __('Management') %></th>
              <th class="text-center"><%= __('Manager') %></th>
              <th class="text-center"><%= __('Status') %></th>
              <th class="text-center"><%= __('Date') %></th>
            </tr>
          </thead>
          <tbody>
            <% for (var i=0 ; i<data.length ; i++) { %>
            <tr>

              <td class="text-center">
                <a href="/notification/editNotification?id=<%=data[i].id%>"><%= __('Edit') %></a>
                /
                <a href="/notification/remove-notification?id=<%=data[i].id%>"><%= __('Delete') %></a>
              </td>

              <td class="text-center">
                <%= data[i].manager_name ? data[i].manager_name : __('Not Found') %>
              </td>

              <td class="text-center">
                <%= data[i].status ? data[i].status : __('Not Found') %>
              </td>

              <td class="text-center">
                <%= data[i].createdAt ? data[i].createdAt : __('Not Found') %>
              </td>

            </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <span>
          <strong><%=message%></strong>
        </span>
      <% } %>

    </div>
  </div>
</div><!--/.col-->
<script src="/js/dependencies/sails.io.js"></script>
