<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <div class="panel-heading">
        <h3 class="pull-right">
          <%= __('Branches') %>
        </h3>
        <a href="/branch/addBranch" class="btn btn-default pull-left add-btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <div class="clearfix"></div>
      </div>

      <hr>

      <% if (data) { %>
        <table class="table table-sm table-responsive">
          <thead>
            <tr>
              <th class="text-center"><%= __('Management') %></th>
              <th class="text-center"><%= __('Current Manager') %></th>
              <th class="text-center"><%= __('Name') %></th>
            </tr>
          </thead>
          <tbody>
            <% for (var i=0 ; i<data.length ; i++) { %>
            <tr>
              <td class="text-center">
                <a href="/branch/editBranch?id=<%=data[i].id%>"><%= __('Edit') %></a>
                /
                <a href="/branch/remove-branch?id=<%=data[i].id%>"><%= __('Delete') %></a>
              </td>
              <td class="text-center">
                <%= data[i].current_manager ? data[i].current_manager : __('Not Found') %>
              </td>
              <td class="text-center">
                <%= data[i].name ? data[i].name : __('Not Found') %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <span>
          <strong><%=message%></strong>
        </span>
      <% } %>

    </div>
  </div>
</div><!--/.col-->
