<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <h3 class="text-center"><%= __('Edit Branch') %></h3>
      <hr>

      <% if (data) { %>
        <span>
          <form class="form-horizontal" action="/branch/edit-branch" method="post" role="form">

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label pull-right">:<%= __('Name') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="name" name="name" value="<%= data.name ? data.name : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="address" class="col-sm-2 control-label pull-right">:<%= __('Address') %></label>
              <div class="col-sm-10">
                <input id="pac-input" class="form-control select2-offscreen controls" type="text" placeholder="<%= __('Search Address') %>" value="<%= data.address ? data.address : __('Not Found') %>">
                <div id="map"></div>
              </div>
            </div>

            <input type="text" id="address" name="address" value="<%= data.address ? data.address : 'null' %>" hidden>

            <input type="text" id="latitude" name="latitude" value="<%= data.latitude ? data.latitude : 'null' %>" hidden>

            <input type="text" id="longtitude" name="longtitude" value="<%= data.longtitude ? data.longtitude : 'null' %>" hidden>

            <input type="text" name="id" value="<%= data.id ? data.id : 'null' %>" hidden>

            <script>
            function initAutocomplete() {
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: <%=data.latitude%>, lng: <%=data.longtitude%>},
                zoom: 15,
                mapTypeId: 'roadmap'
              });

              // Create the search box and link it to the UI element.
              var input = document.getElementById('pac-input');
              var searchBox = new google.maps.places.SearchBox(input);
              map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

              // Bias the SearchBox results towards current map's viewport.
              map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
              });

              var markers = [];
              // Listen for the event fired when the user selects a prediction and retrieve
              // more details for that place.
              searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                  return;
                }

                // Clear out the old markers.
                markers.forEach(function(marker) {
                  marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                  if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                  }
                  var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                  };

                  // Create a marker for each place.
                  markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                  }));

                  if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                  } else {
                    bounds.extend(place.geometry.location);
                  }

                  $("#latitude").val(place.geometry.location.lat())
                  $("#longtitude").val(place.geometry.location.lng())
                  $("#address").val($("#pac-input").val())
                });
                map.fitBounds(bounds);
              });
            }
            </script>

            <div class="form-group">
              <label for="current_manager" class="col-sm-2 control-label pull-right">:<%= __('Current Manager') %></label>
              <% if (managers.length <= 0) { %>
                <div class="col-sm-10 pull-left">
                  <input type="text" class="form-control select2-offscreen" id="current_manager" name="current_manager" value="<%= data.current_manager ? data.current_manager : __('Not Found') %>">
                </div>
              <% } else { %>
                <div class="col-sm-10 pull-left">
                  <select name="current_manager" class="form-control" id="current_manager">
                    <% for (var i=0 ; i<managers.length ; i++) {%>
                      <% if (managers[i].id == data.current_manager_id) { %>
                        <option value="<%=managers[i].id%>" selected><%=managers[i].name%></option>
                      <% } else { %>
                        <option value="<%=managers[i].id%>"><%=managers[i].name%></option>
                      <% } %>
                    <% } %>
                  </select>
                </div>
              <% } %>
            </div>

            <div class="col-sm-11 col-sm-offset-1 pull-right">
              <div class="form-group pull-right">
                <button type="submit" class="btn btn-success"><%= __('Edit') %></button>
              </div>
            </div>
          </form>
        </span>
      <% } else { %>
        <span>
          <strong><%=message%></strong>
        </span>
      <% } %>


    </div>
  </div>
</div><!--/.col-->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNu-Br6QoZv6-tRpyLuabwfkI4QTFTBsI&libraries=places&callback=initAutocomplete">
</script>
