<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <h3 class="text-center"><%= __('Add Car') %></h3>
      <hr>

      <% if (extras) { %>
        <span>
          <form class="form-horizontal" action="/car/add-car" method="post" role="form">

            <div class="form-group">
              <label for="type" class="col-sm-2 control-label pull-right">:<%= __('Type') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="type" name="type">
              </div>
            </div>

            <div class="form-group">
              <label for="brand" class="col-sm-2 control-label pull-right">:<%= __('Brand') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="brand" name="brand">
              </div>
            </div>

            <div class="form-group">
              <label for="model" class="col-sm-2 control-label pull-right">:<%= __('Model') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="type" name="model">
              </div>
            </div>

            <div class="form-group">
              <label for="year" class="col-sm-2 control-label pull-right">:<%= __('Year') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="year" name="year">
              </div>
            </div>

            <div class="form-group">
              <label for="ac" class="col-sm-2 control-label pull-right">:<%= __('AC') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="ac" name="ac">
              </div>
            </div>

            <div class="form-group">
              <label for="auto_trans" class="col-sm-2 control-label pull-right">:<%= __('Auto Transmition') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="auto_trans" name="auto_trans">
              </div>
            </div>

            <div class="form-group">
              <label for="number_of_doors" class="col-sm-2 control-label pull-right">:<%= __('Number of Doors') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="number_of_doors" name="number_of_doors">
              </div>
            </div>

            <div class="form-group">
              <label for="fuel_type" class="col-sm-2 control-label pull-right">:<%= __('Fuel Type') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="fuel_type" name="fuel_type">
              </div>
            </div>

            <div class="form-group">
              <label for="price_per_day" class="col-sm-2 control-label pull-right">:<%= __('Price per Day') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="price_per_day" name="price_per_day">
              </div>
            </div>

            <div class="form-group">
              <label for="max_per_day" class="col-sm-2 control-label pull-right">:<%= __('Maximum Price per Day') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="max_per_day" name="max_per_day">
              </div>
            </div>

            <div class="form-group">
              <label for="extra_price" class="col-sm-2 control-label pull-right">:<%= __('Extra Price') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="extra_price" name="extra_price">
              </div>
            </div>

            <div class="form-group">
              <label for="extra_options" class="col-sm-2 control-label pull-right">:<%= __('Extra Options') %></label>
              <% if (extras.length <= 0) { %>
                <div class="col-sm-10 pull-left">
                  <input type="text" class="form-control select2-offscreen" id="current_manager" name="extra_options">
                </div>
              <% } else { %>
                <div class="col-sm-10 pull-left">
                  <select multiple name="extra_options" class="form-control" id="current_manager">
                    <% for (var i=0 ; i<extras.length ; i++) {%>
                      <option value="<%=extras[i].id%>|<%=extras[i].name%>"><%=extras[i].name%></option>
                    <% } %>
                  </select>
                </div>
              <% } %>
            </div>

            <div class="col-sm-11 col-sm-offset-1 pull-right">
              <div class="form-group pull-right">
                <button type="submit" class="btn btn-success"><%= __('Add') %></button>
              </div>
            </div>
          </form>
        </span>
      <% } else { %>
        <span>
          <strong><%=message%></strong>
        </span>
      <% } %>


    </div>
  </div>
</div><!--/.col-->
