<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <div class="panel-heading">
        <h3 class="pull-right">
          <%= __('Cars') %>
        </h3>
        <a href="/car/addCar" class="btn btn-default pull-left add-btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <div class="clearfix"></div>
      </div>

      <hr>

      <% if (data) { %>
        <table class="table table-sm table-responsive">
          <thead>
            <tr>
              <th class="text-center"><%= __('Management') %></th>
              <th class="text-center"><%= __('Rent Price') %></th>
              <th class="text-center"><%= __('Year') %></th>
              <th class="text-center"><%= __('Model') %></th>
              <th class="text-center"><%= __('Brand') %></th>
            </tr>
          </thead>
          <tbody>
            <% for (var i=0 ; i<data.length ; i++) { %>
            <tr>

              <td class="text-center">
                <a href="/car/editCar?id=<%=data[i].id%>"><%= __('Edit') %></a>
                /
                <a href="/car/remove-car?id=<%=data[i].id%>"><%= __('Delete') %></a>
              </td>

              <td class="text-center">
                <%= data[i].price_per_day ? data[i].price_per_day : __('Not Found') %>
              </td>

              <td class="text-center">
                <%= data[i].year ? data[i].year : __('Not Found') %>
              </td>

              <td class="text-center">
                <%= data[i].model ? data[i].model : __('Not Found') %>
              </td>

              <td class="text-center">
                <%= data[i].brand ? data[i].brand : __('Not Found') %>
              </td>

            </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <span>
          <strong><%=message%></strong>
        </span>
      <% } %>

    </div>
  </div>
</div><!--/.col-->
