<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <h3 class="text-center"><%= __('Edit Car') %></h3>
      <hr>

      <% if (data) { %>
        <span>
          <form class="form-horizontal" action="/car/edit-car" method="post" role="form">

            <div class="form-group">
              <label for="type" class="col-sm-2 control-label pull-right">:<%= __('Type') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="type" name="type" value="<%= data.type ? data.type : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="brand" class="col-sm-2 control-label pull-right">:<%= __('Brand') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="brand" name="brand" value="<%= data.brand ? data.brand : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="model" class="col-sm-2 control-label pull-right">:<%= __('Model') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="type" name="model" value="<%= data.model ? data.model : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="year" class="col-sm-2 control-label pull-right">:<%= __('Year') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="year" name="year" value="<%= data.year ? data.year : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="ac" class="col-sm-2 control-label pull-right">:<%= __('AC') %></label>
              <div class="col-sm-10 pull-left">
                <select class="form-control select2-offscreen" id="ac" name="ac" value="<%= data.ac ? data.ac : __('Not Found') %>">
                  <% if (data.ac == __('Not Found') ) { %>
                    <option value="<%= __('Not Found') %>" selected><%= __('Not Found') %></option>
                    <option value="<%= __('Found') %>"><%= __('Found') %></option>
                  <% } else { %>
                    <option value="<%= __('Not Found') %>"><%= __('Not Found') %></option>
                    <option value="<%= __('Found') %>" selected><%= __('Found') %></option>
                  <% } %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="auto_trans" class="col-sm-2 control-label pull-right">:<%= __('Auto Transmition') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="auto_trans" name="auto_trans" value="<%= data.auto_trans ? data.auto_trans : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="number_of_doors" class="col-sm-2 control-label pull-right">:<%= __('Number of Doors') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="number_of_doors" name="number_of_doors" value="<%= data.number_of_doors ? data.number_of_doors : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="fuel_type" class="col-sm-2 control-label pull-right">:<%= __('Fuel Type') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="fuel_type" name="fuel_type" value="<%= data.fuel_type ? data.fuel_type : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="price_per_day" class="col-sm-2 control-label pull-right">:<%= __('Price per Day') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="price_per_day" name="price_per_day" value="<%= data.price_per_day ? data.price_per_day : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="max_per_day" class="col-sm-2 control-label pull-right">:<%= __('Maximum Price per Day') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="max_per_day" name="max_per_day" value="<%= data.max_per_day ? data.max_per_day : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="extra_price" class="col-sm-2 control-label pull-right">:<%= __('Extra Price') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="extra_price" name="extra_price" value="<%= data.extra_price ? data.extra_price : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="branches" class="col-sm-2 control-label pull-right">:<%= __('Extras') %></label>
              <div class="col-sm-10 pull-left">
                <div class="row">
                  <div class="col-xs-5">
                    <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">
                      <% for (var i=0 ; i<extras.length ; i++) {%>
                        <option value="<%=extras[i].id%>|<%=extras[i].name%>"><%=extras[i].name%></option>
                      <% } %>
                    </select>
                  </div>

                  <div class="col-xs-2">
                    <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                  </div>

                  <div class="col-xs-5">
                    <select name="extra_options[]" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                      <% for (var i=0 ; i<data.extra_options.length ; i++) {%>
                        <option value="<%=data.extra_options[i].id%>|<%=data.extra_options[i].name%>"><%=data.extra_options[i].name%></option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <input type="text" name="id" value="<%= data.id ? data.id : 'null' %>" hidden>

            <div class="col-sm-11 col-sm-offset-1 pull-right">
              <div class="form-group pull-right">
                <button type="submit" class="btn btn-success"><%= __('Edit') %></button>
              </div>
            </div>
          </form>
        </span>
      <% } else { %>
        <span>
          <strong><%=message%></strong>
        </span>
      <% } %>


    </div>
  </div>
</div><!--/.col-->
