<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <h3 class="text-center"><%= __('Edit Manager') %></h3>
      <hr>

      <% if (data) { %>
        <span>
          <form class="form-horizontal" action="/manager/edit-manager" method="post" role="form">

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label pull-right">:<%= __('Name') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="name" name="name" value="<%= data.name ? data.name : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="col-sm-2 control-label pull-right">:<%= __('Username') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="username" name="username" value="<%= data.username ? data.username : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-sm-2 control-label pull-right">:<%= __('Password') %></label>
              <div class="col-sm-10 pull-left">
                <input type="text" class="form-control select2-offscreen" id="password" name="password" value="<%= data.password ? data.password : __('Not Found') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="branches" class="col-sm-2 control-label pull-right">:<%= __('Branches') %></label>
              <div class="col-sm-10 pull-left">
                <div class="row">
                  <div class="col-xs-5">
                    <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">
                      <% for (var i=0 ; i<branches.length ; i++) {%>
                        <option value="<%=branches[i].id%>|<%=branches[i].name%>"><%=branches[i].name%></option>
                      <% } %>
                    </select>
                  </div>

                  <div class="col-xs-2">
                    <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                  </div>

                  <div class="col-xs-5">
                    <select name="branches[]" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                      <% for (var i=0 ; i<data.branches.length ; i++) {%>
                        <option value="<%=data.branches[i].id%>|<%=data.branches[i].name%>"><%=data.branches[i].name%></option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
            </div>



            <input type="text" name="id" value="<%= data.id ? data.id : 'null' %>" hidden>

            <div class="col-sm-11 col-sm-offset-1 pull-right">
              <div class="form-group pull-right">
                <button type="submit" class="btn btn-success"><%= __('Edit') %></button>
              </div>
            </div>
          </form>
        </span>
      <% } else { %>
        <span>
          <strong><%=message%></strong>
        </span>
      <% } %>


    </div>
  </div>
</div><!--/.col-->
