<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <h3 class="text-center error"><%= __('Error') %></h3>
      <hr>
      <pre class="error-container">
        <p>
          <span class="error-code">Code</span>: <%= code %>
        </p>
        <p>
          <span class="error-msg">message</span>: <%= message %>
        </p>
        <p>
          <span class="error-details">Details</span>: <%= details %>
        </p>
      </pre>

    </div>
  </div>
</div><!--/.col-->
