<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body message">

      <h3 class="text-center"><%= __('Add Extras') %></h3>
      <hr>

      <span>
        <form class="form-horizontal" action="/extras/add-extras" method="post" role="form">

          <div class="form-group">
            <label for="name" class="col-sm-2 control-label pull-right">:<%= __('Name') %></label>
            <div class="col-sm-10 pull-left">
              <input type="text" class="form-control select2-offscreen" id="name" name="name">
            </div>
          </div>

          <div class="form-group">
            <label for="price" class="col-sm-2 control-label pull-right">:<%= __('Price') %></label>
            <div class="col-sm-10 pull-left">
              <input type="text" class="form-control select2-offscreen" id="price" name="price">
            </div>
          </div>

          <div class="col-sm-11 col-sm-offset-1 pull-right">
            <div class="form-group pull-right">
              <button type="submit" class="btn btn-success"><%= __('Add') %></button>
            </div>
          </div>
        </form>
      </span>


    </div>
  </div>
</div><!--/.col-->
